# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
.gitignore
# Virtual environment
venv/
myenv/

# Django stuff
db.sqlite3
/static/

# Secret files
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python packaging
*.egg-info/
.eggs/



# html coverage
htmlcov/